storage: none
source https://api.nuget.org/v3/index.json

nuget canopy
nuget Feliz.ViewEngine
nuget Microsoft.AspNetCore
nuget Microsoft.NET.Test.Sdk
nuget Notion.Net
nuget prometheus-net.AspNetCore
nuget Selenium.WebDriver.ChromeDriver 99.0.4844.5100
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget xunit
nuget xunit.runner.visualstudio

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget BlackFox.Fake.BuildTask
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.JavaScript.Npm
