storage: none
source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Giraffe
nuget Notion.Net
nuget prometheus-net.AspNetCore
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console

group Tests
    storage none
    source https://api.nuget.org/v3/index.json
    nuget canopy
    nuget Microsoft.NET.Test.Sdk
    nuget Selenium.WebDriver.ChromeDriver 112.0.5615.4900
    nuget xunit
    nuget xunit.runner.visualstudio

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
