storage: none
source https://api.nuget.org/v3/index.json

nuget canopy
nuget FSharp.Core
nuget Microsoft.AspNetCore
nuget Microsoft.NET.Test.Sdk
nuget Notion.Net
nuget prometheus-net.AspNetCore
nuget Selenium.WebDriver.ChromeDriver 100.0.4896.6000
nuget Serilog
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget xunit
nuget xunit.runner.visualstudio

group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget BlackFox.Fake.BuildTask
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.JavaScript.Npm
