version 5.251.0

storage none
source https://api.nuget.org/v3/index.json

nuget Expecto
nuget FSharp.Core 4.7.2
nuget FSharp.Data
nuget FSharp.Data.GraphQL.Server
nuget Markdig
nuget Newtonsoft.Json
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Seq
nuget Suave

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core 4.7.2
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget BlackFox.Fake.BuildTask
    nuget NuGet.Packaging 5.6.0
