version 5.241.2
storage none
source https://api.nuget.org/v3/index.json

nuget Fable.Browser.Dom
nuget Fable.Elmish.React
nuget Feliz

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.JavaScript.Npm
    nuget BlackFox.Fake.BuildTask