storage none
source https://api.nuget.org/v3/index.json

nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Elmish
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Feliz
nuget Feliz.MaterialUI
nuget Feliz.Router

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.JavaScript.Npm
    nuget Fake.Core.Target
    nuget BlackFox.Fake.BuildTask